# ignore all node_modules folders and nested folders & files
node_modules
# ignore the specific VS Code configuration parameters
.vscode
# ignore the specific packages versions installed by the developper
package-lock.json
# ignore the development environment variables (if any)
.env
# ignore all dist directories files (and subdirectories) from .gitignore
dist/*
# but (re)include specific dist directory files, e.g.
#!frontend-essentials/step-1/dist