/* Large devices (desktops, 992px and up) */

.responsive-background-color {
  background-color: lightblue;
  @media (min-width: 992px) {
    background-color: white;
  }
}

.clickable {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}
